# Add files here to ignore them from prettier formatting
node_modules
node_modules/
/node_modules
/node_modules/**
**/node_modules
**/node_modules/**

externals
externals/
/externals
/externals/**
**/externals
**/externals/**

coverage
coverage/
/coverage
/coverage/**
**/coverage
**/coverage/**

dist
dist/
/dist
/dist/**
**/dist
**/dist/**

out
out/
/out
/out/**
**/out
**/out/**

reports
reports/
/reports
/reports/**
**/reports
**/reports/**

.nx
.nx/
/.nx
/.nx/**
**/.nx
**/.nx/**

.venv
.venv/
/.venv
/.venv/**
**/.venv
**/.venv/**

.pytest_cache
.pytest_cache/
/.pytest_cache
/.pytest_cache/**
**/.pytest_cache
**/.pytest_cache/**

.claude
.gemini
.kiro
.qoder
.roo
.vscode
**/.claude/**
**/.gemini/**
**/.kiro/**
**/.qoder/**
**/.roo/**
**/.vscode/**